/* Google Font Links */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Work Sans', sans-serif;*/

/* General Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #fdfdfd;
}

.all-in-one-btn{
    background: #fff;
    color: #005FAC;
    padding: 20px 25px;
}

/* Header & Hero Area CSS */
header{
    height: 800px;
    background: url(assets/images/banner/banner3.png);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    padding: 230px 216px 165px 0;
    display: flex;
    justify-content: flex-end;
}

.hero-area-content {
    width: 525px;
    text-align: right;
}

.hero-area-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    margin-bottom: 25px;
}

.hero-area-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}

  .hero-area-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-radius: 5px;
}

/* Record Section CSS */

.record-container {
    margin-left: 85px;
}
  
.previous-records {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 230px;
}

.record-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 25px;
}

.record-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 15px;
}

.record-list .record-list-item {
    color: #444343;
    list-style: none;
    margin-bottom: 10px;
}

/* Plan Section CSS */


.plan-section {
    margin: 130px 200px;
}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 50px;
    text-align: center;
}

.plan-summary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 85px;
}

.plan-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.plan-item h6 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin: 16px auto;
    text-align: center;
}

.plan-item span {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
    text-align: center;
}

/* Call to action section */

.call-to-section {
    height: 300px;
    margin: 0 130px 230px;
    background-image: linear-gradient(to right, rgba(0, 95, 172, 0.888), rgba(0, 95, 172, 0.02)), url('assets/images/watch.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 60px 65px;
}

.call-to-section-container {
    width: 450px;
}

.call-to-section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.call-to-action-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    border: none;
    border-radius: 5px;
}


/* Contact Form CSS */
.form-section {
    margin: 0 230px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    margin-bottom: 45px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 500px;
  padding: 20px;
  background: transparent;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 3px solid #2C75B094;
  color: #737272;
}

.contact-form textarea {
  border: 3px solid #2C75B094;
  color: #737272;
  padding: 20px;
}


#form-submit-btn {
  margin-top: 20px !important;
  background: #005FAC;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  width: 200px;
  margin: auto;
}


/* Footer CSS */
footer {
    padding: 130px 230px;
    background: #151414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 330px;
}

.lead-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 15px;
}

.lead-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.footer-leads span {
    display: block;
    margin-bottom: 25px;
}

.social-icons {
    width: 50px;
    height: 50px;
    margin-right: 18px;
    border-radius: 50px;
}

.social-icons:hover {
  cursor: pointer;
}

.footer-subscription h6 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 30px;
}

#subscribe-email {
    width: 325px;
    height: 65px;
    background: transparent;
    margin-bottom: 15px;
    border-radius: 5px;
}

.subscribe-btn {
    background: #005FAC;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}